* {
    margin: 0;
    padding: 0;
}

// body

body {
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// Header
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow-container;
    padding: $spacing-xl;

    ul {
        display: flex;
        list-style-type: none;


        li {
            width: 150px;


            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                letter-spacing: 3px;
                text-align: center;
                height: $spacing-xxl;
                transition: $transition-cubic;

                &:hover {
                    color: $white;
                    background-color: $blue;
                    opacity: 0.4;
                }

                &.active {
                    color: $white;
                    background-color: $blue;
                }
            }
        }
    }
}

// Section
// Footer