.edit-entry-container {
    display: flex;
    margin: $spacing-lg auto;
    font-size: $p-font-size-m;
    box-shadow: $box-shadow-container;
    overflow: hidden;
    position: relative;

    div {

        flex-grow: 1;
    }

    label {
        background-color: $blue;
        color: $white;
        text-align: center;
        font-size: $p-font-size-xl;
        font-weight: $font-weight-bold;
        padding: $spacing-m 0;
        display: inline-block;
        width: 100%;
    }

    input {
        font-size: inherit;
        padding: $spacing-sm 0;
        width: 100%;
    }

    input[type="submit"] {
        position: absolute;
        width: 150px;
        bottom: 0;
        transform: translateY(100%);
    }
}